html, body {
  height: 100%;
  width: 100%;
}
.input{
  height: auto;
}
#ab{
  height:3cm;
  width:500px;
  background-color:black
}
table{
  height:auto;
  width:500px;
  border: solid 5px;
  box-sizing: border-box;
  border-color: white;
  padding:1rem;
  background-color: black;
  color:white;
}
 form input{
  width:490px;
  height:1cm;
  border-radius:12px;
font-size:2.5rem;
  text-align:right;
   background-color:whitesmoke
} 

tr{
  color:white;
}
td{
  font-size: 0.5cm;
  padding:5%;

}
.text{
  height:50px;
  width:50px;
  background-color: grey;
  border-radius: 100%;
  color:white;
  font-size:30px;
}
.clear,.equal{
  height:50px;
  width: 50px;
  background-color: grey;
  border-radius: 100%;
  color:white;
  font-size:30px;
}
