html, body {
  height: 100%;
  width: 100%;
}
#ab{
  height:3cm;
  width:500px;
  background-color:black
}
table{
  height:500px;
  width:500px;
  border: solid 5px;
  border-color: white;
  padding:1rem;
  background-color: black;
  color:white;
}
 form input{
  width:490px;
  height:3cm;
  border-radius:12px;
font-size:2.5rem;
  text-align:right;
   background-color:whitesmoke
} 

tr{
  color:white;
}
td{
  font-size: 2cm;
  padding:5%;

}
.text{
  height:100px;
  width:100px;
  background-color: grey;
  border-radius: 100%;
  color:white;
  font-size:60px;
}
.clear,.equal{
  height:100px;
  width:100px;
  background-color: grey;
  border-radius: 100%;
  color:white;
  font-size:60px;
}
